<div class="landing-container">
  <div class="landing-banner">
    <div class="banner-image-title">
      <div class="banner-image">
        <img src="assets/images/logos/brain-blue-large.png" alt="Banner Image" />
      </div>
      <p class="banner-title">Sage Page</p>
    </div>
    <div class="banner-content">
      <p class="banner-description">Knowledge, Unleashed.</p>
      <button class="banner-button p-button p-button-raised p-button-primary">Learn More</button>
    </div>
  </div>
  <div class="flex surface-section">
    <div class="w-12 sm:w-6 px-4 py-8 md:px-6 lg:px-8">
      <div class="mt-6 mb-5 font-bold text-6xl text-900">Discover Knowledge. Unleash Potential.</div>
      <p class="text-700 text-3xl mt-0 mb-6">
        Sage Page revolutionizes information access. Dive into a streamlined, AI-enhanced world where knowledge is not
        just gathered, but intelligently organized for quick retrieval and easy understanding.
      </p>
    </div>
    <div
      class="w-6 hidden sm:block"
      style="
        background: url(&quot;assets/images/knowledge.png&quot;) no-repeat;
        background-size: contain;
        background-position: right;
        border-radius: 20px;
      "></div>
  </div>
  <div class="flex surface-section">
    <div
      class="w-6 hidden sm:block"
      style="
        background: url(&quot;assets/images/collaboration.png&quot;) no-repeat;
        background-size: contain;
        background-position: left;
      "></div>
    <div class="w-12 sm:w-6 px-4 py-8 md:px-6 lg:px-8">
      <div class="mt-6 mb-5 font-bold text-6xl text-900">Collaborate Effortlessly. Achieve More.</div>
      <p class="text-700 text-3xl mt-0 mb-6">
        Elevate teamwork with Sage Page. Our platform is a hub for collective intelligence, allowing seamless idea
        sharing and co-creation, fostering a dynamic and productive collaboration space.
      </p>
    </div>
  </div>
  <div class="flex surface-section">
    <div class="w-12 sm:w-6 px-4 py-8 md:px-6 lg:px-8">
      <div class="mt-6 mb-5 font-bold text-6xl text-900">Innovate Boldly. Lead Change.</div>
      <p class="text-700 text-3xl mt-0 mb-6">
        With Sage Page, embrace the future of wikis. Our AI-driven approach isn’t just about managing knowledge; it's
        about pioneering new ways to interact with and utilize information, setting new standards in the digital age.
      </p>
    </div>
    <div
      class="w-6 hidden sm:block"
      style="
        background: url(&quot;assets/images/innovation.png&quot;) no-repeat;
        background-size: contain;
        background-position: right;
        border-radius: 20px;
      "></div>
  </div>
</div>
