<div class="surface-section px-4 py-8 md:px-6 lg:px-8">
  <div
    class="py-4 text-center md:text-left border-round bg-cover h-20rem lg:h-30rem flex flex-column justify-content-end mb-5"
    style="background: url(&quot;assets/images/hero-2.jpg&quot;)">
    <div class="grid">
      <div class="col lg:col-offset-2 px-5">
        <div class="text-5xl font-bold text-white">Sage Page: Revolutionizing Wiki Creation with AI</div>
        <p class="line-height-3 text-white text-lg text-center md:text-left mt-3">
          Published January 31, 2024 by the Sage Page Team
        </p>
      </div>
    </div>
  </div>
  <div class="grid">
    <!--        <div class="col-12 lg:col-2">-->
    <!--            <div class="flex flex-row lg:flex-column lg:border-right-1 surface-border gap-5 mb-4 lg:px-5">-->
    <!--                <div class="text-900 flex flex-row align-items-center justify-content-end">-->
    <!--                    <span class="font-semibold mr-3">71</span>-->
    <!--                    <i class="pi pi-bookmark"></i>-->
    <!--                </div>-->
    <!--                <div class="text-900 flex flex-row align-items-center justify-content-end">-->
    <!--                    <span class="font-semibold mr-3">298</span>-->
    <!--                    <i class="pi pi-heart"></i>-->
    <!--                </div>-->
    <!--                <div class="text-900 flex flex-row align-items-center justify-content-end">-->
    <!--                    <span class="font-semibold mr-3">34</span>-->
    <!--                    <i class="pi pi-comments"></i>-->
    <!--                </div>-->
    <!--            </div>-->
    <!--        </div>-->
    <div class="col-12 lg:col lg:px-5">
      <div class="flex flex-wrap align-items-center justify-content-between mb-5 gap-5">
        <div class="flex flex-row">
          <span class="text-900 surface-100 inline-flex font-semibold py-2 px-3 mr-2 border-round">AI</span>
          <span class="text-900 surface-100 inline-flex font-semibold py-2 px-3 mr-2 border-round">Wiki</span>
          <span class="text-900 surface-100 inline-flex font-semibold py-2 px-3 border-round">Generation</span>
        </div>
        <div class="flex align-items-center gap-4">
          <i class="pi pi-twitter cursor-pointer"></i>
          <!--                    <i class="pi pi-facebook cursor-pointer"></i>-->
          <!--                    <i class="pi pi-link cursor-pointer"></i>-->
        </div>
      </div>

      <div class="surface-section px-4 py-8 md:px-6 lg:px-8">
        <div>
          <p class="line-height-3 text-xl">
            Welcome to Sage Page, the AI-Driven Wiki Generation Platform that's set to redefine how we create, manage,
            and share knowledge. In a world overwhelmed with information, Sage Page emerges as a beacon of clarity,
            offering a smart, intuitive solution to knowledge management and content creation.
          </p>
        </div>
      </div>

      <div class="surface-section px-4 py-8 md:px-6 lg:px-8" id="features">
        <div class="grid">
          <div class="col-12 md:col-6 flex align-items-center">
            <div>
              <div class="text-900 text-4xl font-bold mb-6">The Challenges of Traditional Knowledge Management:</div>
              <p class="line-height-3 text-xl">
                Traditional knowledge management systems often struggle with the sheer volume of information and the
                complexity of organizing it effectively. Businesses and individuals grapple with outdated systems that
                are not only cumbersome to update but also difficult to navigate. The result? Critical information gets
                siloed, opportunities for collaboration are missed, and knowledge becomes stagnant.
              </p>
            </div>
          </div>
          <div class="col-12 md:col-6">
            <img src="../../../../assets/images/knowledge.png" alt="Collaboration" class="rounded-img" />
          </div>
        </div>
      </div>

      <div class="surface-section px-4 py-8 md:px-6 lg:px-8">
        <div class="grid">
          <div class="col-12 md:col-6">
            <img src="../../../../assets/images/collaboration.png" alt="Collaboration" class="rounded-img" />
          </div>

          <div class="col-12 md:col-6 flex align-items-center">
            <div>
              <div class="text-900 text-4xl font-bold mb-6">Sage Page: A New Era in Content Creation:</div>
              <p class="line-height-3 text-xl">
                Enter Sage Page – a platform where AI meets human creativity to streamline the process of wiki creation
                and knowledge curation. By leveraging AI-Powered Dialogues, users can generate comprehensive outlines
                and detailed articles with ease. Sage Page's advanced editor allows for seamless editing, enhancing, and
                restructuring of content, ensuring that your knowledge base is always polished, up-to-date, and
                accessible.
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="surface-section px-4 py-8 md:px-6 lg:px-8">
        <div class="grid">
          <div class="col-12 md:col-6 flex align-items-center">
            <div>
              <div class="text-4xl font-bold text-900 mb-3">Dynamic Content Tree: Visualizing Information:</div>
              <p class="line-height-3 text-xl">
                One of Sage Page's standout features is the Dynamic Content Tree, a revolutionary tool that transforms
                complex markdown documents into an easily navigable hierarchy. This feature not only simplifies the
                organization of deeply nested information but also enhances the user experience by making knowledge
                bases more intuitive and user-friendly. With the Dynamic Content Tree, finding and managing content has
                never been easier.
              </p>
            </div>
          </div>
          <div class="col-12 md:col-6">
            <img src="../../../../assets/images/innovation.png" alt="Collaboration" class="rounded-img" />
          </div>
        </div>
      </div>

      <div class="surface-section px-4 py-8 md:px-6 lg:px-8">
        <div>
          <p class="line-height-3 text-xl">
            Sage Page is more than just a wiki generation platform; it's a new way of thinking about knowledge
            management. By combining AI's processing power with human insight, we're creating a tool that adapts to your
            needs, helping you turn information into actionable wisdom. Join us in embracing the future of AI-driven
            knowledge creation and management. Sign up for our emails to stay updated on Sage Page's development, and be
            the first to know when we launch. Welcome to Sage Page – where your ideas transform into structured wisdom.
          </p>
        </div>
      </div>
    </div>
    <div class="col-12 lg:col-3 lg:border-left-1 surface-border">
      <div class="p-3">
        <span class="text-900 font-medium text-xl block mb-5">Other Posts</span>
        <div class="flex flex-column gap-3">
          <div
            class="w-full h-full p-5 border-round"
            style="
              background: linear-gradient(180deg, rgba(0, 0, 0, 0.4) 0%, #000000 100%),
                url(&quot;assets/images/hero-2.jpg&quot;);
            ">
            <span class="text-white font-medium mb-3">Introducing Sage Page</span>
            <span class="text-white-alpha-70 block line-height-3">Revolutionizing Wiki Creation with AI.</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  id="cta"
  class="relative p-8 overflow-hidden bg-no-repeat bg-cover"
  style="background-image: url(&quot;assets/images/hero-2.jpg&quot;)">
  <div class="text-center my-6 relative">
    <div class="text-6xl font-bold mb-1 text-white">Sage Page</div>
    <div class="text-6xl text-blue-400 font-bold mb-4">Unleash, Knowledge.</div>
    <p class="mt-0 mb-3 line-height-3 text-center mx-auto text-blue-100" style="max-width: 500px">
      Get early access to the future of AI knowledge management.<br />Sign up for exclusive launch updates and feature
      insights.<br />Be the first to know!
    </p>

    <div class="flex align-items-center justify-content-center flex-wrap">
      <input
        type="text"
        pInputText
        class="bg-transparent border-white p-3 mr-3 mt-3"
        style="border-radius: 40px"
        size="30"
        placeholder="Enter your email" />
      <button type="button" label="Notify Me" pButton pRipple class="p-3 mt-3" style="border-radius: 40px"></button>
    </div>
  </div>
</div>
