<p-toolbar>
  <div class="p-toolbar-group-start">
    <button pButton icon="pi pi-plus" class="mr-2" pTooltip="Add folder" (click)="addFolder()"></button>
    <button pButton icon="pi pi-plus" class="mr-2" pTooltip="Add Document" (click)="addDocument()"></button>
    <button pButton icon="pi pi-print" class="mr-2"></button>
    <button pButton icon="pi pi-upload"></button>
  </div>
  <div class="p-toolbar-group-center">
    <button pButton type="button" class="mr-2" pTooltip="Select all">
      <span class="material-symbols-outlined">select_all</span>
    </button>
    <button pButton type="button" class="mr-2" pTooltip="Clear all">
      <span class="material-symbols-outlined"> clear_all </span>
    </button>
    <button pButton type="button" class="mr-2" pTooltip="Clear all">
      <span class="material-symbols-outlined"> manufacturing </span>
    </button>
  </div>
</p-toolbar>
