<div class="chat-container">
  <div class="dropdown-container">
    <p-dropdown
      [options]="chatModels"
      [(ngModel)]="selectedModel"
      [showClear]="false"
      placeholder="Select a Model"></p-dropdown>
  </div>

  <div class="large-panel">
    <div *ngFor="let exchange of exchanges">
      <app-exchange [exchange]="exchange"></app-exchange>
    </div>
  </div>

  <div class="input-button-container">
    <textarea #queryInput rows="1" pInputTextarea [autoResize]="true" placeholder="Message ChatGPT..."></textarea>
    <button pButton icon="pi pi-arrow-up" (click)="onButtonClick(queryInput.value)"></button>
  </div>
</div>
