::ng-deep .p-togglebutton.p-button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.material-symbols-outlined {
  font-variation-settings:
    "FILL" 1,
    "wght" 700,
    "GRAD" 400,
    "opsz" 30;
}

//.app-router-container {
//  min-height: 100vh;
//}
