.line-container {
  display: flex;
  align-items: center;
  //padding: 10px;
  //border-bottom: 1px solid #ddd; /* Optional: adds a line between items */
  position: relative;
}

.line-content {
  flex-grow: 1;
  //margin-left: 10px;
}

.menu-button {
  position: absolute;
  right: 10px;
  display: none;
}

.line-container:hover {
  //background-color: #dcdcdc;
  background-color: #707070; /* Highlight color for selected lines */

}
.line-container.selected:hover {
  //background-color: #c7c7c7; /* Light gray background on hover */
  background-color: #858585; /* Highlight color for selected lines */
}

.line-container:hover .menu-button {
  display: block;
}

.line-container {
  /* Your existing styles */
  cursor: pointer; /* Optional: Changes the cursor to indicate selectability */
}

.line-container.selected {
  //background-color: #e8e8e8; /* Highlight color for selected lines */
  background-color: #5a5a5a; /* Highlight color for selected lines */
}

/* Custom heading classes using PrimeFlex font size utilities */
.format_h1 {
  font-size: 1.5rem; /* You can adjust the size as needed */
  padding: 12px 0 12px 0;
  font-weight: bold;
}

.format_h2 {
  font-size: 1.3rem;
  padding: 10px 0 10px 0;
  font-weight: bold;
}

.format_h3 {
  font-size: 1.1em;
  padding: 10px 0 10px 0;
  font-weight: bold;
}

.format_h4 {
  font-size: 1rem;
  padding: 8px 0 8px 0;
  font-weight: bold;
}

.format_h5 {
  font-size: 0.75rem;
  font-weight: bold;
}

.format_h6 {
  font-size: 0.5rem;
  font-weight: bold;
}

.ol {
  padding-left: 22px;
}
