<div class="surface-ground px-4 py-8 md:px-6 lg:px-8">
  <div class="p-fluid flex flex-column lg:flex-row">
    <div class="surface-card p-5 shadow-2 border-round flex-auto">
      <div class="text-900 font-semibold text-lg mt-3">Account</div>
      <p-divider></p-divider>
      <div class="flex gap-5 flex-column-reverse md:flex-row">
        <div class="flex-auto p-fluid">
          <div class="mb-4">
            <label for="secret-key" class="block font-medium text-900 mb-2">Key</label>
            <input id="secret-key" type="text" pInputText />
          </div>
          <div class="mb-4">
            <label for="org-key" class="block font-medium text-900 mb-2">Organization key</label>
            <input id="org-key" type="text" pInputText />
          </div>
          <div>
            <button pButton pRipple label="Save" class="w-auto"></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!---->
